<div style="min-height: 120px">
    <!-- Your existing page content goes here -->
</div>
<footer class="bg-light text-dark pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <h5>{{ _('About Us') }}</h5>
                <p>{{ config.SHOP_NAME }} - {{ _('exactly what you need') }}!</p>
                <h6 class="mt-3">
                    <a href="{{ url_for('main.contact_us') }}" class="btn btn-outline-secondary btn-sm text-dark">
                        {{ _('Connect With Us') }}
                    </a>
                </h6>
                <ul class="list-inline mt-2">
                    {% if config.FACEBOOK_URL %}
                        <li class="list-inline-item">
                            <a href="{{ config.FACEBOOK_URL }}" class="text-dark" target="_blank"
                               rel="noopener noreferrer">
                                <i class="fab fa-facebook fa-lg"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if config.TWITTER_URL %}
                        <li class="list-inline-item">
                            <a href="{{ config.TWITTER_URL }}" class="text-dark" target="_blank"
                               rel="noopener noreferrer">
                                <i class="fab fa-twitter fa-lg"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if config.INSTAGRAM_URL %}
                        <li class="list-inline-item">
                            <a href="{{ config.INSTAGRAM_URL }}" class="text-dark" target="_blank"
                               rel="noopener noreferrer">
                                <i class="fab fa-instagram fa-lg"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-6 mb-4">
                <h5>{{ _('Quick Links') }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ url_for('main.faq') }}" class="text-dark">{{ _('FAQ') }}</a></li>
                    <li><a href="{{ url_for('main.return_policy') }}" class="text-dark">{{ _('Return Policy') }}</a>
                    </li>
                    <li><a href="{{ url_for('main.terms') }}" class="text-dark">{{ _('Terms of Usage') }}</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; <span
                        id="currentYear"></span> {{ config.SHOP_NAME }}. {{ _('All rights reserved') }}.</p>
            </div>
            <div class="col-md-6 text-md-right">
                <div class="d-flex justify-content-md-end align-items-center h-100">
                    <p class="mb-0 mr-3">{{ _('We Accept') }}:</p>
                    <div class="payment-icons">
                        <i class="fab fa-cc-visa fa-2x mx-1"></i>
                        <i class="fab fa-cc-mastercard fa-2x mx-1"></i>
                        <i class="fab fa-cc-paypal fa-2x mx-1"></i>
                        <i class="fab fa-cc-amex fa-2x mx-1"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="scrollToTopBtn" class="btn btn-dark btn-floating" onclick="scrollToTop()"
            aria-label="{{ _('Scroll to top') }}">
        <i class="fas fa-chevron-up"></i>
    </button>
</footer>