.btn-outline-secondary.text-dark {
    border-color: #6c757d;
    background-color: transparent;
    transition: all 0.3s ease;
}

.btn-outline-secondary.text-dark:hover {
    background-color: rgba(108, 117, 125, 0.1);
    color: #343a40 !important;
}

.payment-icons i {
    transition: transform 0.3s ease;
}

.payment-icons i:hover {
    transform: scale(1.1);
}

#scrollToTopBtn {
    display: none;
    background-color: #a8a8a8; /* Light gray */
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 99;
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s;
}

#scrollToTopBtn:hover {
    background-color: #555;
}

.btn-floating {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}

.btn-floating i {
    font-size: 24px;
}
