{% extends 'admin/master.html' %}

{% block title %}{{ config.SHOP_NAME }} - {{ _('Reports') }}{% endblock %}

{% block admin_content %}
    <div class="container mt-4">
        <h1>{{ _('Reports to download') }}</h1>
        <hr>

        <form method="post">
            <div class="form-group mb-3">
                <label for="tables">{{ _('Select tables') }}:</label>
                <select class="form-control" id="tables" name="tables" multiple>
                    {% for table_name in table_names %}
                        <option value="{{ table_name }}">{{ table_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="file_format">{{ _('Select file format') }}:</label>
                <select class="form-control" id="file_format" name="file_format">
                    <option value="csv">CSV</option>
                    <option value="json">JSON</option>
                    <option value="excel">Excel</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">{{ _('Generate Report') }}</button>
        </form>
    </div>
{% endblock %}