{% extends 'admin/master.html' %}

{% block title %}{{ config.SHOP_NAME }} - {{ _('Statistics') }}{% endblock %}

{% block admin_content %}
    <div class="container">
        <h1>{{ _('Statistics') }}</h1>
        <hr>

        <form method="post">
            <div class="form-group">
                <label for="tables">{{ _('Select tables') }}:</label>
                <select class="form-control" id="tables" name="tables" multiple>
                    {% for table_name in table_names %}
                        <option value="{{ table_name }}">{{ table_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="data_percentage">{{ _('Data Percentage') }}:</label>
                <select class="form-control" id="data_percentage" name="data_percentage">
                    <option value="10">10%</option>
                    <option value="20">20%</option>
                    <option value="50">50%</option>
                    <option value="100" selected>100%</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">{{ _('Generate Statistics Report') }}</button>
        </form>
    </div>
{% endblock %}