
{#to change: sample_shop#}

<div class="col-md-4 text-center text-md-right">
    <a href="https://www.facebook.com/sample_shop" class="btn btn-secondary" target="_blank">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.twitter.com/sample_shop" class="btn btn-secondary" target="_blank">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/company/sample_shop" class="btn btn-secondary" target="_blank">
        <i class="fab fa-linkedin-in"></i>
    </a>
    <!-- VK button -->
    <a href="https://www.vk.com/sample_shop" class="btn btn-secondary" target="_blank">
        <i class="fab fa-vk"></i>
    </a>
</div>
